<div class='row height-40'>
  <span class='col-sm-1 top-pad'><%= link_to image_tag('back.jpg'), category_path(@business.category) %></span>
  <div id='business-tag'>
    <% #FIXME_AB: Should not use size attribute, it will distort the image. Create and use proper size of thumbnails -%>
    <%= image_tag @business.category.image.url(:thumb), size: '80x30' %>
    <% #FIXME_AB: code for displaying name is being repeated. Ideally it should go in presenter. Since we haven't learnt the concept of presenter, we should move it to model as Category#display_name for now. Similarly for business name -%>
    <div id= 'business-name'><%= @business.category.name.humanize %></div>
  </div>
</div>

<div class='container col-sm-10 col-sm-offset-1 top-pad-50'>
  <div class='row top-pad'>
      <span class='h1'>
        Business Overview: <%= @business.name.humanize %>
      </span>
  </div>

  <div class='jumbotron'>
    <div class='row'>
      <div class='col-sm-5'>
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <% if @business.year_of_establishment %>
            <div id='establishment'>
              <p class='rotate'>Since <%= @business.year_of_establishment %></p>
            </div>
          <% end %>
          <div class="carousel-inner">
            <% #FIXME_AB: Since we have egarloaded images, use .present. .exists? fires an extra query to check images. Similarly for other places -%>
            <% if @business.images.present? %>
              <% @business.images.each_with_index do |img, i| %>
                <div class="item <%= active_class(i) %>">
                  <%= image_tag img.image.url, id: 'cimg' %>
                </div>
              <% end %>
            <% else %>
              <div class="item active">
                <%= image_tag 'missing.png', id: 'cimg' %>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <div class="arrow" aria-hidden="true"><p><</p></div>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <div class="arrow" aria-hidden="true"><p>></p></div>
          </a>
        </div>
      </div>
      <div class='col-sm-7'>
        <div class='table'>
          <div class='row top-pad'>
            <span class='col-sm-2'><%= image_tag 'home1.png' %></span>
            <span class='col-sm-10 text-height-20'><%= @business.address_sentence %></span>
          </div>
          <% if @business.address.area.present? %>
            <div class='row top-pad'>
              <span class='col-sm-2'>
                <% #FIXME_AB: Make a helper for this. -%>
                <% ## FIXED -%>
                <%=link_to image_tag('marker1.jpg'), google_map_url(@business), :target => "_blank" %></span>
              <span class='col-sm-10 text-height-20'>
                  <%= @business.address.area %>
              </span>
            </div>
          <% end %>
          <% if @business.phone_numbers.present? %>
            <div class='row top-pad'>
              <span class='col-sm-2'><%= image_tag 'phone.jpg' %></span>
              <span class='col-sm-10 text-height-20'><%= @business.phone_numbers_sentence %></span>
            </div>
          <% end %>
          <div class='row top-pad'>
            <div class='col-sm-6'>
              <div class='row'>
                <span class='col-sm-1  col-sm-offset-3 text-height-23'>Rating</span>
              </div>
              <div class='row height-60'>
                <div class="rating col-sm-4">
                  <div class="unfilled">
                    <% 5.times do %>
                      <%= image_tag 'star-unfilled.png' %>
                    <% end %>
                  </div>
                  <div class='filled' style="clip: rect(0 ,<%= @business.average_rating * 20 * 2.56 if @business.average_rating.present? %>px, 48px, 0px)" >
                      <% 5.times do %>
                        <%= image_tag 'star-filled.png' %>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-sm-6'>
              <span class='col-sm-1  col-sm-offset-3 text-height-23'>
                <% if user_signed_in? %>
                  <% if @reviews.where(user_id: current_user).present? %>
                    <%= link_to 'Rate this Business', '#new-review', id: 'new-review-btn', class: 'btn btn-primary' %>
                  <% else %>
                    <span class='btn btn-primary' title='You have already posted reviews for this business'>Rate this Business
                    </span>
                  <% end %>
                <% else %>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review-login">Rate this Business</button>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @business.time_slots.present? %>
  <div>
  <%= image_tag 'bullet.jpg', class: 'sliders' %><span class='text-height-20 sliders'>Working Hours</span>
  <div class='jumbotron table expandable'>
    <% @business.time_slots.each do |time_slot| %>
      <div class='row'>
        <div class='col-sm-5 text-height-20'>
          <%= time_slot.week_days %>
        </div>
        <div class='col-sm-6 text-height-20'>
          <% #FIXME_AB: Don't repeat time format use http://api.rubyonrails.org/classes/DateTime.html#method-i-to_formatted_s -%>
          <%= time_slot.from.to_formatted_s(:timmings) %> TO <%= time_slot.to.to_formatted_s(:timmings) %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
<% end %>

  <% if @business.description.present? %>
    <div>
      <%= image_tag 'bullet.jpg', class: 'sliders' %><span class='text-height-20 sliders'>Description</span>
      <div class='jumbotron text-height-20 expandable'>
        <%= @business.description %>
      </div>
    </div>
  <% end %>

  <% if @business.website.present? && @business.emails.present? %>
    <div>
    <%= image_tag 'bullet.jpg', class: 'sliders' %><span class='text-height-20 sliders'>Online Presence</span>
    <div class='jumbotron expandable'>
      <div class='row'>
        <% if @business.website.present? %>
          <div class='col-sm-1'>
            <%= image_tag 'website.jpg' %>
          </div>
          <div class='col-sm-10 text-height-20'>
            <%= link_to @business.website.info, url_with_protocol(@business.website.info), target: '_blank' %>
          </div>
        <% end %>
      </div>
      <div class='row top-pad'>
        <% if @business.emails.present? %>
          <div class='col-sm-1'>
            <%= image_tag 'email.jpg' %>
          </div>
          <div class='col-sm-10 text-height-20'>
            <%= @business.emails_sentence %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  <% end %>

<span class='text-height-20'><u>Total Reviews</u>: <%= @reviews.size %></span>
  <div class='row rating-bar-container'>
    <div class='col-sm-3 bar-name'>
      <div class='row top-pad'>Excellent</div>
      <div class='row top-pad'>Very Good</div>
      <div class='row top-pad'>Good</div>
      <div class='row top-pad'>Average</div>
      <div class='row top-pad'>Poor</div>
    </div>
    <div class='col-sm-9 rating-bar'>
      <% (1..5).each do |star| %>
        <div class='row top-pad'>
          <div style="width: <%= @business.percentage_star_rating[star] %>%"></div>
          <%= @business.percentage_star_rating[star] %>%
        </div>
      <% end %>
    </div>
  </div>

  <%= image_tag 'bullet.jpg', class: 'sliders' %><span class='text-height-20 sliders'>Rate & Review </span>
  <div class='jumbotron'>
    <div id='new-review'>
      <% if @user_review %>
        <%= form_for @user_review, remote: true, html: { class: "creation form form-horizontal", "data-type" => :json } do |f| %>
          <div>
            <ul class="rating-star col-sm-6">
              <% (0..5).each do |x| %>
                <li>
                  <%= f.radio_button :rating, x %>
                  <%= label_tag "review[rating]_#{x}", "★" %>
                </li>
              <% end %>
            </ul>
            <span id='rate-detail'>
              <span id='0'>Very Poor</span>
              <span id='1'>Poor</span>
              <span id='2'>Average</span>
              <span id='3'>Good</span>
              <span id='4'>Very Good</span>
              <span id='5'>Excellent</span>
            </span>
            <%= f.hidden_field :business_id, value: @business.id %>
            <div class="field form-group">
              <%= f.text_area :detail, rows: 2, class: 'control-controle col-sm-12', maxlength: "500" %>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-11 col-sm-1">
                <%= f.submit "POST", class: 'btn btn-default' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <% @reviews.each do |review| %>
      <div class="review">
        <div class='row'>
          <span class='col-sm-2 h3'><%= review.user.name %></span>
          <div class="rating-show col-sm-3">
            <div class="unfilled">★★★★★</div>
            <div class="filled" style="width: <%= review.rating * 20 %>%" >★★★★★</div>
          </div>
        </div>
        <div class='row'>
          <div class='row review-block'><p class=' text text-30 col-sm-offset-1'><%= review.detail %></p></div>
          <div class='col-sm-offset-8 row'><%= review.created_at.to_formatted_s(:long) %></div>
        </div>
        <hr>
      </div>
    <% end %>
    <%= paginate @reviews %>
    </div>
  </div>

</div>

<% content_for :head do javascript_include_tag :user_businesses end %>

<div class='container'>
  <div class="modal fade" id="review-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body container-fluid">
        Please <%= link_to 'Sign In', new_user_session_path %> or
        <%= link_to 'Sign Up', new_user_registration_path %> first
      </div>
    </div>
  </div>
</div>
