  <div class=" control-group field form-group <%= add_error_class :year_of_establishment %>">
    <%= f.label :year_of_establishment, :class => 'control-label col-sm-3' %>
    <div class="controls col-sm-6">
      <%= f.text_field :year_of_establishment, :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group field form-group">
    <%= f.label :keywords, 'keyword', :class => 'control-label col-sm-3' %>
    <div class="controls col-sm-6">
      <%= f.autocomplete_field :keywords_attributes, autocomplete_keyword_name_admin_businesses_path,'data-delimiter' => ',', multiple: true, value: @business.keywords.pluck(:name).join(','), :class => 'form-control' %>
    </div>
  </div>

  <%#= f.fields_for :keywords do |keyword| %>
<!--     <div class="control-group field form-group">
      <%#= f.label :name, 'keyword', :class => 'control-label col-sm-3' %>
      <div class="controls col-sm-6">
        <%#= f.autocomplete_field :name, autocomplete_keyword_name_admin_businesses_path, :class => 'form-control' %>
      </div>
    <%#= t.link_to_remove "Remove", class: 'col-sm-offset-3' %>
    </div>
  <%# end %>
<p><%#= f.link_to_add "Add a time_slots", :keywords, class: 'col-sm-offset-3' %></p> -->


  <%= f.fields_for :time_slots do |t| %>
      <div class=" control-group field form-group <%= add_error_class :'time_slots.to' %>">
        <%= t.label 'to', :class => 'control-label col-sm-3' %>
        <div class="controls col-sm-2">
          <%= t.time_select :to, { ampm: true, minute_step: 15 } %>
        </div>
      </div>
      <div class=" control-group field form-group <%= add_error_class :'time_slots.form' %>">
        <%= t.label :from, :class => 'control-label col-sm-3' %>
        <div class="controls col-sm-2">
          <%= t.time_select :from, { ampm: true, minute_step: 15 } %>
        </div>
      </div>
      <div class=" control-group field form-group <%= add_error_class :'time_slots:days' %>">
        <div class="controls col-sm-6 col-sm-offset-3">
          <label>
          <%= t.check_box :days, {multiple: true, checked: day_checked(0, t.object) }, 0, nil %>
          Sunday
          </label>
        </div>
        <div class="controls col-sm-6 col-sm-offset-3">
          <label>
          <%= t.check_box :days, {multiple: true, checked: day_checked(1, t.object) }, 1, nil %>Monday
        </label>
        </div>
        <div class="controls col-sm-6 col-sm-offset-3"><label>
          <%= t.check_box :days, {multiple: true, checked: day_checked(2, t.object) }, 2, nil %>Tuesday</label>
        </div>
        <div class="controls col-sm-6 col-sm-offset-3"><label>
          <%= t.check_box :days, {multiple: true, checked: day_checked(3, t.object)}, 3, nil %>Wednessday</label>
        </div>
        <div class="controls col-sm-6 col-sm-offset-3"><label>
          <%= t.check_box :days, {multiple: true, checked: day_checked(4, t.object) }, 4, nil %>Thrusday</label>
        </div>
        <div class="controls col-sm-6 col-sm-offset-3"><label>
          <%= t.check_box :days, {multiple: true, checked: day_checked(5, t.object) }, 5, nil %>Friday</label>
        </div>
        <div class="controls col-sm-6 col-sm-offset-3"><label>
          <%= t.check_box :days, { multiple: true, checked: day_checked(6, t.object) }, 6, nil %>Saturday</label>
        </div>
    </div>
    <%= t.link_to_remove "Remove", class: 'col-sm-offset-3' %>
  <%end%>
<p><%= f.link_to_add "Add a time_slots", :time_slots, class: 'col-sm-offset-3' %></p>
  <%= f.fields_for :images do |i| %>
    <div class=" control-group field form-group <%= add_error_class :'images.image' %> image">
      <%= i.label :image, :class => 'control-label col-sm-3' %>
      <div class="controls col-sm-6">
        <% if i.object.image.exists? %>
          <%= image_tag @business.images.first.image.url(:thumb) %>
        <% else %>
          <%= i.file_field :image, :class => 'form-control' %>
        <% end %>
        <%= i.link_to_remove "Remove" %>
      </div>
    </div>
  <% end %>
<p><%= f.link_to_add "Add a images", :images, class: 'col-sm-offset-3' %></p>
