  <div class="control-group field form-group <%= add_error_class :description %>">
    <%= f.label :description, :class => 'control-label col-sm-3' %>
    <div class="controls col-sm-6">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>

  <%= f.fields_for :website do |web| %>
    <div class="control-group field form-group <%= add_error_class :'website.info' %>">
      <%= web.label :info, 'website', :class => 'control-label col-sm-3' %>
      <div class="controls col-sm-6">
        <%= web.text_field :info, :class => 'form-control' %>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :phone_numbers do |pn| %>
    <div class="control-group field form-group <%= add_error_class :'phone_numbers.info' %> phone">
      <%= pn.label :info, 'Phone Number', :class => 'control-label col-sm-3' %>
      <div class="controls col-sm-6">
        <%= pn.text_field :info, :class => 'form-control' %>
        <%= pn.link_to_remove "Remove" %>
      </div>
    </div>
  <% end %>
  <p><%= f.link_to_add "Add a phone number", :phone_numbers, class: 'col-sm-offset-3' %></p>

  <%= f.fields_for :emails do |e| %>
    <div class="control-group field form-group <%= add_error_class :'emails.info' %> email">
      <%= e.label :info, 'Email', :class => 'control-label col-sm-3' %>
      <div class="controls col-sm-6">
        <%= e.email_field :info, :class => 'form-control' %>
        <%= e.link_to_remove "Remove" %>
      </div>
    </div>
  <% end %>
  <p><%= f.link_to_add "Add a emails", :emails, class: 'col-sm-offset-3' %></p>
