<%= form_for @business, url: (send "update_step#{params[:step]}_business_path".to_sym, @business),:html => { :class => "form-horizontal business", multipart: true } do |f| %>

  <% if @business.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @business.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render partial: 'step' + params[:step].to_s, locals: { f: f } %>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      businesses_path, :class => 'btn btn-default' %>

<% end %>

<% content_for :head do javascript_include_tag :businesses end %>

