<div class='form-page'>
  <h3 class='col-sm-offset-1'>Edit Business</h3>
</div>

<%= nested_form_for [step(params[:step]), :admin, @business],:html => { :class => "form-horizontal edit_business padding_top", multipart: true } do |f| %>
  <% #FIXME_AB: We should have extract out code in helpers for current_step, next_step and prev_step -%>
  <div class='control-group field form-group'>
    <div class='col-sm-4 col-sm-offset-1'>
    <% @business.current_state.events.keys.each do |event| %>

    <%= link_to event.to_s.humanize, fire_admin_business_path(@business, {event: event, step: params[:step]}), method: :patch, class: 'btn btn-primary control-label' %>
    <% end %>
    </div>
    <div class='col-sm-3'>
      Current State : <%= @business.workflow_state.humanize %>
    </div>
    <p class='form-page col-sm-offset-1'><%= params[:step] %> / 3</p>
  </div>

  <%= render partial: 'step' + params[:step].to_s, locals: { f: f } %>

<div class='row'>
  <div class='col-sm-1 col-sm-offset-2'>
    <%= link_to 'Previous', [step(params[:step] - 1), :admin, @business], class: 'btn btn-default' if params[:step] > 1 %>
  </div>

  <div class='col-sm-2 col-sm-offset-2'>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_businesses_path, :class => 'btn btn-danger',
    :data => { confirm: "Changes are not saved yet. do you still want to quit" } %>
  </div>

  <div class='col-sm-1 col-sm-offset-2'>
    <%= link_to 'Next', [step(params[:step] + 1), :admin, @business], class: 'btn btn-default' if params[:step] < 3  %>
  </div>
</div>
<% end %>

<% content_for :head do javascript_include_tag :businesses end %>

