<div class='row'>
  <span id='loader' class='col-sm-1 col-sm-offset-5'>
    <%= image_tag 'ajax-loader.gif' %>
  </span>
  <%= link_to 'New Business', new_admin_business_path, class: 'btn btn-primary add-business' %>
</div>
<span>Apply filters and search for the business to get expected results set.</span>
<div class='.row bottom-padding-10'>
  <%= search_form_for @q, url: admin_businesses_path, class: 'form form-horizontal top-pad-10' do |f| %>
    <div class='col-sm-2'>
      <% #FIXME_AB: Avoid using Models directly in views -%>
      <%= f.collection_select :address_country_eq, Address.select(:country).distinct, :country, :country, { include_blank: 'Select Country'}, class: "form-control" %>
    </div>
    <div class='col-sm-2'>
      <%= f.collection_select :address_state_eq, @states, :name, :name, { include_blank: 'Select State'}, class: "form-control" %>
    </div>
    <div class='col-sm-2'>
      <%= f.select :workflow_state_eq, Business.workflow_spec.state_names.map { |state| [state.to_s.humanize, state] }, { include_blank: 'Select Status' }, class: "form-control" %>
    </div>
    <div class='col-sm-2'>
      <%= f.collection_select :category_name_eq, Category.enabled, :name, :name, { include_blank: 'Select Category' }, class: "form-control" %>
    </div>

    <div class="col-sm-4">
      <div class="input-group">
        <%= f.text_field :name_or_description_or_keywords_name_cont, class: "form-control", placeholder: 'search name, description and keywords' %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="icon-search">Go</i>
          </button>
        </span>
      </div>
    </div>
    <%= f.submit hidden:true %>
  <% end %>
</div>

<table class="table table-striped">
  <tbody class="sortable">
    <% @businesses.each do |business| %>
      <tr>
        <% #FIXME_AB: Use business.images.present? to save queries %>
        <% ## FIXED -%>
      <td class='col-sm-1'><%= image_tag business.images.first.image.url(:thumb), size: '80x30' if business.images.present? %></td>
      <td class='col-sm-1 text'><%= business.name %></td>
      <td class='col-sm-1 text'>City: <%= business.address.city %></td>
      <td class='col-sm-3 text'>
        <% if business.address.area.present? %>
          <%=link_to image_tag('marker.jpg'), google_map_url(business), :target => "_blank" %>
        <%= business.address.area.humanize %>
        <% else %>
          <%= business.address_sentence %>
        <% end %>
      </td>
      <td class="col-sm-offset-3 col-sm-1">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          step1_admin_business_path(business), :class => 'btn btn-warning btn-xs' %>
        <%= link_to 'Disable', '#', data: { :'business_status' => !business.status, id: business.id, :'business_name' => business.name }, class: "btn btn-xs edit #{ edit_button_class(business.status) }" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @businesses %>
<% #FIXME_AB: use @business.empty? -%>
<% ## FIXED -%>
<%= 'There are no businesses available'  if @businesses.empty? %>
<% content_for :head do javascript_include_tag :businesses end %>
