<%= link_to 'New Business', new_admin_business_path, class: 'btn btn-primary add-business' %>

<table class="table table-striped">
  <tbody class="sortable">
    <% @businesses.each do |business| %>
      <td><%= image_tag business.images.first.image.url(:thumb) %></td>
      <td><%= business.name %></td>
      <td class="btn-just">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    step1_admin_business_path(business), :class => 'btn btn-default btn-xs' %>
         <%= link_to 'Disable', '#', :data => { :'business_status' => business.status, :'id' => business.id, :'business_name' => business.name },
             :class => 'btn btn-xs btn-danger edit' %>
        </td>
      </tr>
    <% end %>
    </ul>
  </tbody>
</table>

<%= 'There are no businesses vailable, please add businesses'  if @businesses.length == 0 %>
<% content_for :head do javascript_include_tag :businesses end %>