<%= link_to 'New Business', :new_step1_businesses, class: 'btn btn-primary add-business' %>

<table class="table table-striped">
  <tbody class="sortable">
    <% @businesses.each do |business| %>
      <td><%= business.name %></td>
      <td class="btn-just">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_step1_business_path(business), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    business_path(business), :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
    </ul>
  </tbody>
</table>

<%= 'There are no businesses vailable, please add businesses'  if @businesses.length == 0 %>
<% content_for :head do javascript_include_tag :businesses end %>