<%= link_to 'New Business', new_admin_business_path, class: 'btn btn-primary add-business' %>

<%= search_form_for @q, url: admin_businesses_path, class: 'form form-horizontal top-pad-10' do |f| %>
  <div class='col-sm-2 form-group'>
    <%= f.collection_select :address_country_eq, Address.select(:country).distinct, :country, :country, { include_blank: 'Select Country'}, class: "form-control" %>
  </div>
  <div class='col-sm-2 form-group'>
    <%= f.collection_select :address_state_eq, @states, :name, :name, { include_blank: 'Select State'}, class: "form-control" %>
  </div>
  <div class='col-sm-2 form-group'>
    <%= f.collection_select :workflow_state_eq, Business.select(:workflow_state).distinct, :workflow_state, :workflow_state, {include_blank: 'Select Status' }, class: "form-control" %>
  </div>
  <div class='col-sm-2 form-group'>
    <%= f.collection_select :category_name_eq, Category.all, :name, :name, { include_blank: 'Select Category' }, class: "form-control" %>
  </div>
  <div class='col-sm-2 col-sm-offset-1'>
    <%= f.text_field :name_cont, class: "form-control" %>
  </div>

  <%= f.submit hidden:true %>
<% end %>

<table class="table table-striped">
  <tbody class="sortable">
    <% @businesses.each do |business| %>
      <td class='col-sm-2'><%= image_tag business.images.first.image.url(:thumb) if business.images.exists? %></td>
      <td class='col-sm-2 text'><%= business.name %></td>
      <td class='col-sm-3 text'>City : <%= business.address.city %></td>
      <td class='col-sm-3 text'>Area : <%= business.address.area %></td>
      <td class="btn-just">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    step1_admin_business_path(business), :class => 'btn btn-warning btn-xs' %>
         <%= link_to 'Disable', '#', data: { :'business_status' => business.status, id: business.id, :'business_name' => business.name }, class: "btn btn-xs edit #{ edit_button_class(business.status) }" %>
        </td>
      </tr>
    <% end %>
    </ul>
  </tbody>
</table>
<%= paginate @businesses %>
<%= 'There are no businesses available'  if @businesses.length == 0 %>
<% content_for :head do javascript_include_tag :businesses end %>
