<% url = "update_step#{params[:step]}_businesses_path" %>

<%= form_for @business, :html => { :class => "form-horizontal business" } do |f| %>

  <% if @business.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @business.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render partial: 'step' + params[:step].to_s, locals: {f: f } %>
  <%= f.submit 'Create' ,:class => 'btn btn-primary' %>

  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      businesses_path, :class => 'btn btn-warning' %>

<% end %>
<% content_for :head do javascript_include_tag :businesses end %>
