<span id='loader' class='col-sm-1 col-sm-offset-5'>
    <%= image_tag 'ajax-loader.gif' %>
</span>
<button type="button" class="btn btn-primary add-category" data-toggle="modal" data-target="#add_category">New Category</button>
<% #FIXME_AB: Why following line needed? I think you have used scaffold -%>
<% #FIXED -%>

<% #FIXME_AB: Prefer table less design so that it is easy to redesign -%>
<table class="table table-striped">
  <tbody class="sortable">
    <% @categories.each do |category| %>
      <tr id="<%=category.id%>" class='movable'>
        <td class='col-sm-2'><%= image_tag 'sort-vertical.png', class: 'sort' %>
          <%= image_tag category.image.url(:thumb), size: '80x30' %></td>
        <td class='col-sm-8 text'><%= category.name %></td>
        <td class="btn-just">
          <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_category" data-name="<%= category.name %>" data-id="<%= category.id %>"  data-image="<%= category.image.url(:thumb) %>">Edit</button>
          <% #FIXME_AB: You should not do this by js.  -%>
          <%= link_to 'Disable', '#', :data => { :'category_status' => !category.status, :'id' => category.id, :'category_name' => category.name }, class: "btn btn-xs edit #{ edit_button_class(category.status) }" %>
        </td>
      </tr>
    <% end %>
    </ul>
  </tbody>
</table>

<% #FIXME_AB: You should use @category.blank?. More rails way -%>
<% #FIXED -%>
<%= 'There are no categories available, please add categories'  if @categories.blank? %>

<div class='container'>
  <div class="modal fade" id="add_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">New Category</h4>
        </div>
        <div class="modal-body container-fluid">
          <% #FIXME_AB: Formatting. space after comma. -%>
          <% #FIXED -%>
          <%= form_for Category.new, url: admin_categories_path, html: {class: 'form-horizontal'} do |f| %>
              <div class="field form-group">
                <%= f.label :name, 'Name*', class: 'control-label col-sm-3' %>
                <div class="col-sm-6">
                <%= f.text_field :name, class: 'form-control', autofocus: true %></div>
              </div>
              <div class="field form-group">
                <%= f.label :image, 'Image*', class: 'control-label col-sm-3' %>
                <div class='col-sm-6'>
                  <%= f.file_field :image, class: 'form-control col-sm-3' %>
                </div>
              </div>
               <div class="actions modal-footer">
                <%= f.submit "Add", class: "btn btn-primary btn-lg", id: 'new_category' %>
                <%= f.submit "Reset", class: "btn btn-warning btn-lg", id: 'new_category', type: 'reset' %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% #FIXME_AB: Why we are creating so many forms. Bad practice. -%>
<% #FIXED -%>
  <div class='container'>
    <div class="modal fade" id="edit_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Update Category</h4>
          </div>
          <div class="modal-body container-fluid">
            <%= form_for Category.new, url: admin_categories_path, html: {class: 'form-horizontal edit-form', id:  'edit_form' } do |f| %>
              <input type="hidden" name="_method" value="patch">
                <div class="field form-group">
                  <%= f.label :name, class: 'control-label col-sm-3' %>
                  <div class="col-sm-6">
                  <%= f.text_field :name, class: 'form-control', autofocus: true %></div>
                </div>
                <div class="field form-group">
                  <%= f.label :image, class: 'control-label col-sm-3' %>
                  <div class='col-sm-6'>
                    <%= f.file_field :image, class: 'form-control col-sm-3' %>
                  </div>
                  <img></img>
                </div>
                <div class="actions modal-footer">
                  <%= f.submit 'Update', class: "btn btn-primary btn-lg" %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% #FIXME_AB: Use {} for single line blocks -%>
<% #FIXED -%>
<% content_for(:head) { javascript_include_tag :categories } %>
