<button type="button" class="btn btn-primary add-category" data-toggle="modal" data-target="#add_category">New Category</button>
<%- model_class = Category -%>

<table class="table table-striped">
  <tbody class="sortable">
    <% @categories.each do |category| %>
      <tr id="<%=category.id%>" class='movable'>
        <td class='col-sm-2'><%= image_tag category.image.url(:thumb), size: '80x30' %></td>
        <td class='col-sm-8 text'><%= category.name %></td>
        <td class="btn-just">
          <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_category_<%= category.id %>">Edit</button>
          <%= link_to 'Disable', '#', :data => { :'category_status' => !category.status,
             :'id' => category.id, :'category_name' => category.name },
             :class => "btn btn-xs edit #{ edit_button_class(category.status) }" %>
        </td>
      </tr>
    <% end %>
    </ul>
  </tbody>
</table>

<%= 'There are no categories available, please add categories'  if @categories.length == 0 %>

<div class='container'>
  <div class="modal fade" id="add_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">New Category</h4>
        </div>
        <div class="modal-body container-fluid">
          <%= form_for Category.new,url: admin_categories_path, html: {class: 'form-horizontal'} do |f| %>
              <div class="field form-group">
                <%= f.label :name, 'Name*', class: 'control-label col-sm-3' %>
                <div class="col-sm-6">
                <%= f.text_field :name, class: 'form-control', autofocus: true %></div>
              </div>
              <div class="field form-group">
                <%= f.label :image, 'Image*', class: 'control-label col-sm-3' %>
                <div class='col-sm-6'>
                  <%= f.file_field :image, class: 'form-control col-sm-3' %>
                </div>
              </div>
               <div class="actions modal-footer">
                <%= f.submit "Add", class: "btn btn-primary btn-lg", id: 'new_category' %>
                <%#= f.submit "Reset", class: "btn btn-warning btn-lg", id: 'new_category', type: 'reset' %>
                <!-- <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancel</button> -->
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% @categories.each do |category| %>
  <div class='container'>
    <div class="modal fade" id="edit_category_<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Update Category</h4>
          </div>
          <div class="modal-body container-fluid">

            <%= form_for category,url: admin_category_path(category), html: {class: 'form-horizontal edit-form'} do |f| %>
                <div class="field form-group">
                  <%= f.label :name, class: 'control-label col-sm-3' %>
                  <div class="col-sm-6">
                  <%= f.text_field :name, class: 'form-control', autofocus: true %></div>
                </div>
                <div class="field form-group">
                  <%= f.label :image, class: 'control-label col-sm-3' %>
                  <div class='col-sm-6'>
                    <%= f.file_field :image, class: 'form-control col-sm-3' %>
                  </div>
                  <%= image_tag category.image.url(:thumb) %>
                </div>
                <div class="actions modal-footer">
                  <%= f.submit 'Update', class: "btn btn-primary btn-lg" %>
                  <!-- <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancel</button> -->
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% content_for :head do javascript_include_tag :categories end %>