<div class='row height-40'>
  <span class='col-sm-1 top-pad'><%= link_to image_tag('back.jpg'), home_index_path %></span>
  <div id='business-tag'>
    <%= image_tag @category.image.url(:thumb), size: '80x30' %>
    <div id= 'business-name'><%= @category.name.humanize %></div>
  </div>
  <div class='col-sm-3 col-sm-offset-2'>
    <%= form_tag category_path, method: :get, class: "form form-horizontal", id: 'order_form' do |f| %>
      <div "form-group">
        <%= select_tag :order, options_for_select([['Distance low to high', 'distance, asc'], ['Rating low to high', 'average_rating, asc'], ['Rating high to low', 'average_rating, desc']], params[:order]), class:'form-control' %>
      </div>
    <% end %>
  </div>
</div>

<div class='top-pad'>
  <p>List of Businesses in <%= @category.name.humanize %></p>
</div>

<div class='row'>
  <div class='col-sm-6'>
    <div class="table table-striped top-pad-10" id='business_list'>
      <% @businesses.each_with_index do |business, index| %>
        <div class='row top-pad business'
        data-latitude=<%= "#{ business.address.latitude }"%> data-longitude=<%= "#{business.address.longitude }" %>
        data-name=<%= "#{business.name }" %>>
          <div class='col-sm-2'><%= image_tag business.images.first.image.url(:thumb), size: '65x45' if business.images.exists? %>
          </div>
          <div class='col-sm-10'>
            <div class='row'>
              <div class='col-sm-6 text'><%= link_to business.name.humanize, business_path(business) %></div>
              <div class='col-sm-3 col-sm-offset-3  text'>Rating</div>
            </div>
            <div class='row'>
                <div class='col-sm-6 text'>
                  <% if business.address.latitude.present? %>
                    <% #FIXME_AB: Extract this in helper. Method for makig google map url -%>
                    <% ## FIXED -%>
                    <%=link_to image_tag('marker.jpg'), google_map_url(business), :target => "_blank" %>
                    <%= business.address_sentence %>
                  <% else %>
                    <%= business.address_city_state_country %>
                  <% end %>
                </div>
                <div class='col-sm-3'>
                  <%= @distance[index].round(2) -%> km
                </div>
                <div class="rating-show col-sm-3">
                  <div class="unfilled">★★★★★</div>
                  <div class="filled" style="width: <%= business.average_rating.to_i * 20 %>%" >★★★★★</div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-sm-6' id="gmap" >

  </div>
</div>
<%= 'No businesses available in the category' if @businesses.blank? %>

<%= paginate @businesses %>

<% content_for :head do %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsihJMaLwegcz19Wfle-gDtTyAeBmaLK4">
    </script>
<% end %>

<%= javascript_include_tag 'user_category' %>
<%= javascript_include_tag 'user_business_map' %>
