<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Biz-Rating" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->


    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :head %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
  </head>
  <body>

  <nav class="navbar navbar-inverse width">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-width-15 top-pad" href="/admin/businesses">Biz-Rating<sub>admin</sub></a>
      </div>

      <div class="collapse navbar-collapse top-pad">
        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right top-pad">
          <li><a><%= current_user.name %> </a></li>
          <li> <%= link_to "LogOut", :destroy_user_session, method: :delete %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <%= bootstrap_flash %>

  <div class='navigation' id='wrap'>
    <% if user_signed_in? %>
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= add_class('businesses') %>">
          <%= link_to 'Businesses', admin_businesses_path %>
        </li>
        <li role="presentation" class="<%= add_class('categories') %>">
          <%= link_to 'Categories', admin_categories_path %>
        </li>
        <li role="presentation" class="<%= add_class('users') %>"
          ><a href="#">Users</a>
        </li>
      </ul>
    <% end %>

    <div class="container-fluid" id='content'>
      <%= yield %>
    </div>
  </div>

  <footer class="footer navbar-fixed-bottom navbar-inverse">
      <a class="navbar-brand" href="/admin/businesses">Biz-Rating<sub>admin</sub></a>
  </footer>
  </body>
</html>
