<div class="col-sm-offset-2 col-sm-10">
  <h2>Sign Up</h2>
</div>

<%= form_for(resource, as: resource_name, url: :admin_session, html: {class: 'form-horizontal'}) do |f| %>

    <div class="field form-group">
      <%= f.label :email, class: 'control-label col-sm-3' %>
      <div class="col-sm-6">
      <%= f.text_field :email, class: 'form-control', autofocus: true %>
     </div>
    </div>

    <div class="field form-group">
      <%= f.label :name, class: 'control-label col-sm-3' %>
      <div class="col-sm-6">
      <%= f.text_field :name, class: 'form-control', autofocus: true %>
     </div>
    </div>


    <div class="field form-group">
      <%= f.label :password, class: 'control-label col-sm-3' %>
      <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>
      <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <br />
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, class: 'control-label col-sm-3' %>
      <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %></div>
    </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %>
              Remember me
            </label>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
    <%= f.submit "Log in", class: 'btn btn-default' %>
    <%= f.submit "Reset", class: 'btn btn-danger', type: 'reset' %>
    </div>
  </div>

<% end %>

<div class="col-sm-offset-3 col-sm-9">
  <%= render "devise/shared/links" %>
</div>
